{% extends "base.html" %}

{% block content %}
    <h2 class="page-header">
        {{ site }} <small><a href="http://{{ site.domain }}/" rel="nofollow">visit</a></small>
        <span class="badge" style="margin-right: 10px;">
            {{ site.votes }}
          {% ifequal site.votes 1 %}
            vote
          {% else %}
            votes
          {% endifequal %}
        </span>

      {% if site.support_browserid %}
        <span class="label label-success pull-right">Supports BrowserID</span>
      {% else %}
        {% if browserid %}
          <a href="#"class="btn btn-primary pull-right">Vote for {{ site }}</a>
        {% endif %}
      {% endif %}
    </h2>

  {% if site.vote_set.count %}
    <h3>Votes</h3>

    <div style="padding-top: 10px;">
      {% load gravatar %}
      {% for vote in site.vote_set.all %}
        <img src="{% gravatar vote.voter 50 %}" border="0" alt="" />
      {% endfor %}
    </div>
  {% else %}
    <p>There are no votes for {{ site }}</p>
  {% endif %}
{% endblock %}


