{% extends "base.html" %}

{% block content %}
    <h2 class="page-header">{{ site }} <span class="badge" style="margin-right: 10px;">{{ site.votes }}</span><small><a href="http://{{ site.domain }}/">visit</a></small></h2>

    <ul>
      {% if browserid %}
        <li><a href="{{ site.get_vote_url }}">Demand BrowserID</a></li>
      {% endif %}
        <li>Status: {% if site.support_browserid %}Supports BrowserID{% else %}Does not support BrowserID{% endif %}</li>
        <li>{{ site.votes }} people want {{ site.name }} to support BrowserID.</li>
    </ul>

    <h3>Votes</h3>

    <div style="padding-top: 10px;">
      {% load gravatar %}
      {% for vote in site.vote_set.all %}
        <img src="{% gravatar vote.voter 50 %}" border="0" alt="" />
      {% endfor %}
    </div>
{% endblock %}


