{% extends "base.html" %}

{% block content %}
    <h2 class="page-header">Top Sites{% if not browserid %} <small>Sign in to vote</small>{% endif %}</h2>

    <ol>
      {% for site in site_list %}
        <li>
            <a href="{{ site.get_absolute_url }}">{{ site }}</a>

            {% if site.support_browserid %}
              <span class="label label-success">Success</span>
            {% endif %}
        
        
            ({{ site.vote_count }} votes)

            {% if browserid %}
                <a href="{{ site.get_vote_url }}" class="btn btn-mini">vote</a>
            {% endif %}
        </li>
      {% endfor %}
    </ol>
{% endblock %}

